* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
  color: #C0C0C0;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0C0C0C;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 143.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media (max-width: 1440px) {
  .container {
    max-width: 124.8rem;
  }
}

.btn {
  background-color: #9BF00B;
  color: #0C0C0C;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 2.1rem 3rem;
}

h2 {
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 8.3rem;
}

.accent {
  color: #9BF00B;
}

header {
  padding-top: 4.8rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container ul {
  display: flex;
  gap: 48px;
}
header .container ul li a {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.1rem;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
header .container ul li a:hover {
  color: #9BF00B;
  transition: all 0.3s ease;
}

.s-hero {
  background-image: url("../img/bg-blur.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.s-hero .container {
  padding-top: 17.5rem;
  text-align: center;
}
.s-hero .container .title {
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 8.3rem;
  margin-bottom: 4.8rem;
}
.s-hero .container .subtitle {
  color: #9BF00B;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.05em;
}
.s-hero .container .xbox-img {
  margin: 1.3rem auto 0;
}

.s-gamepad-info {
  margin-top: 30rem;
}
.s-gamepad-info .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-gamepad-info .container .left {
  width: 100%;
  max-width: 58rem;
}
.s-gamepad-info .container .left h2 {
  margin-bottom: 4rem;
}
.s-gamepad-info .container .left h2 .accent {
  display: block;
}
.s-gamepad-info .container .left .text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.1rem;
}

.s-games {
  margin-top: 30rem;
}
.s-games .games {
  display: flex;
}

.s-accordion {
  margin-top: 30rem;
}
.s-accordion .container .question-group {
  flex: 1 1 100%;
  width: 100%;
  border-bottom: 1px solid #2E2E2E;
  overflow: hidden;
  min-height: auto;
  height: 5rem;
  transition: all 0.6s ease;
  margin-top: 4.3rem;
}
.s-accordion .container .question-group .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.s-accordion .container .question-group .question p {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #FFFFFF;
}
.s-accordion .container .question-group .question .icon {
  filter: saturate(0);
  transform: rotate(180deg);
  transition: all 0.6s;
  padding: 2rem 1rem;
  cursor: pointer;
}
.s-accordion .container .question-group .answer {
  margin-top: 2.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #C0C0C0;
  padding-left: 2rem;
}
.s-accordion .container .question-group.clicked .question .icon {
  transform: rotate(0);
  filter: none;
}
.s-accordion .container .question-group.active {
  height: 15rem;
}/*# sourceMappingURL=main.css.map */